*{
    margin:0%;
    font-family: 'Roboto', sans-serif;
}

.assign-bg{
    background-color: rgb(20, 20, 20);
    color: rgb(224, 73, 18);
    width: 100%;
    height: auto;
}

.assign-info{
    width: 95vw;
    margin: auto;   
}

.assign-table{
    width: auto;
    height: auto;
    display: inline-block;
    margin-left: 15px;
}

table{
    border-collapse: collapse;
    margin: 1%;
    margin-bottom: 5%;
}

table, th, td{
    width: 20%;
}

th, td{
    padding: 5px 10px;
    width: 50px;
}

th{
    font-size: x-large;
    background: rgb(42, 99, 102);
    color: rgb(27, 27, 27);
    border-bottom: 4px outset red;
}

td{
    background: rgb(54, 133, 130);
    font-weight: bold;
    text-align: center;
    border-bottom: 1px outset honeydew;
}

td:hover{
    background: unset;
}

.assignment-table{
    font-size: 110%;
    text-decoration: bold;
    text-align: left;
    font-weight: bold;
    background: rgb(68, 67, 67);
}

.assignment-table:hover{
    background: rgb(68, 67, 67);
}

img{
    border: 3px outset red;
    width: 20%;
}

.my-photo{
    border-radius: 100%;
    margin-top: 1vw;
}

.github-photo{
    border-radius: 100%;
    width: 2.2%;
    height: 2.2%;
    vertical-align: middle;
    border: 0.4vh solid red;
}


h2{
    text-decoration: underline;
    color: lawngreen;
    margin: 1%;
    margin-bottom: 5%;
}

p{
    margin: 1%;
}

hr{
    margin: 15px 0px;
    border: 1px solid red;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: silver;
}
