*{
    margin:0%;
}

.assign-bg{
    background-color: black;
    color: orangered;
    width: 100%;
    height: 300vh;
}

.assign-info{
    width: 100%;
}

.assign-table{
    
}

table{
    border-collapse: collapse;
    margin: 1%;
    margin-bottom: 1.5%;
}

table, th, td{
    border: 2px solid rgb(236, 72, 72) ;  
    width: 20%;
}

th, td{
    padding: 5px;
    width: 50px;
}

th{
    font-size: x-large;
}

td{
    font-style: italic;
    text-align: center;
}

.assignment-table{
    font-size: 110%;
    text-decoration: bold;
    text-align: left;
}

img{
    border: 0.7vh solid red;
}

.my-photo{
    border-radius: 100%;
    width: 20%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
}

.github-photo{
    border-radius: 100%;
    width: 2.2%;
    height: 2.2%;
    vertical-align: middle;
    border: 0.4vh solid red;
}


h2{
    text-decoration: underline;
    color: lawngreen;
    margin: 1%;
    margin-bottom: 1.5%;
}

p{
    margin: 1%;
}

hr{
    margin: 2%;
}

